* {
    margin: 0px;
}

body {
    background: #201f1f;
    width: 1349px;
    height: 600px;
}

/* section titulo */
.header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: sans-serif;
}

/* titulo */
#title {
    color: #ccccca;
}

/* section calculadora */
.calculator {

    
}

/* container principal calculadora */
.box-main {
    display: flex;
    background: #ffffff;
    justify-content: center;
    flex-wrap: wrap;
    width: 480px;
    height: 390px;
}

/* div da tela */
.box-screen {
    margin-top: 10px;
    width: 95%;
    height: 20%;
    background: #d4d1d1;
}

/* div dos botoes */
.box-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 75%;
    justify-content: space-around;
}

/* botoes */
.btn {
    width:110px;
    height:70px;
    background: #a09f9e;

}

/* botao delete */
.btn-delete {
    width:110px;
    height:70px;
    background: #cc0606;

}

/* botao de sinal igual */
.btn-equal {
    width:110px;
    height:70px;
    background: #1eaf0b;

}

/* botoes operadores */
.btn-operator {
    width:110px;
    height:70px;
    background: #d8a20e;
}